<h1 class="text-center text-5xl py-4"><%= t('.title') %></h1>

<div class="form bg-gray-light lg:w-1/4 sm:w-2/5 mx-auto mt-10 h-30 py-2 rounded-lg">
  <%= form_tag login_path do %>
 <div class="m-1 text-center">
   <%= label_tag(:email, User.human_attribute_name(:email)) %>
   <%= text_field_tag :email, "", class:'rounded-full px-2 bg-gray-900' %>
 </div>
 <div class="m-1 text-center">
   <%= label_tag(:password, User.human_attribute_name(:password)) %>
   <%= text_field_tag :password, "", class:'rounded-full px-2 bg-gray-900', type:'password' %>
 </div>

 <div class="mt-4 flex text-center">
    <div class="w-1/2 mx-auto">
      <%= submit_tag(t('.login'), class:'cursor-pointer bg-green-500 rounded-full px-2') %>
    </div>
  </div>
  <% end %>
</div>
