<h1><%= t('.title') %></h1>
<%= link_to t('.link.create'), new_mission_path %>
<ul>
  <% @missions.each do |mission| %>
    <li>
      <%= link_to t('.link.edit'), edit_mission_path(mission) %>
      <%= link_to t('.link.delete'), mission_path(mission), method: :delete, data: { confirm: t('.alert.deletion') } %>
      <%= mission.title %>
      <%= mission.content %>
      <%= l(mission.started_at, time: :default) %>
      <%= l(mission.ended_at, time: :default) %>
    </li>
  <% end %>
</ul>
