<h1>任務列表</h1>

<%= link_to "新增任務", new_mission_path %>

<ul>
  <% @missions.each do |mission| %>

  <li>
    <%= link_to "修改任務", edit_mission_path(mission) %>
    <%= link_to "刪除任務", mission_path(mission), method: :delete, data: { confirm: "確認刪除?" } %>
    <%= mission.title %>
    <%= mission.content %>
    <%= mission.started_at.strftime("%Y/%m/%d %H:%M") %>
    <%= mission.ended_at.strftime("%Y/%m/%d %H:%M") %>
  </li>
  <% end %>
</ul>
