<h1><%= t('.title') %></h1>
<%= link_to t('.link.create'), new_mission_path %>
<%= form_tag(missions_path, method: "get") do %>
  <%= label_tag(:field, '排序標準：') %>
  <%= select_tag(:field, options_for_select([['結束時間', :ended_at], ['建立時間', :created_at]], params[:field])) %>
  <br>
  <%= label_tag(:order, '排序方式：') %>
  <%= select_tag(:order, options_for_select([['升冪', :ASC], ['降冪', :DESC]], params[:order])) %>
  <br>
  <%= submit_tag('排序') %>
<% end %>

<ul>
  <% @missions.each do |mission| %>
    <li>
      <%= link_to t('.link.edit'), edit_mission_path(mission) %>
      <%= link_to t('.link.delete'), mission_path(mission), method: :delete, data: { confirm: t('.alert.deletion') } %>
      <%= mission.title %>
      <%= mission.content %>
      <%= l(mission.started_at, time: :default) %>
      <%= l(mission.ended_at, time: :default) %>
      <%= mission.created_at.strftime('%Y/%m/%d %H:%M') %>
    </li>
  <% end %>
</ul>
