<h1><%= t('.title') %></h1>

<% if @mission.errors.any? %>
  <ul>
    <% @mission.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= form_for(@mission) do |form| %>
  <%= form.label :title, Mission.human_attribute_name(:title) %>
  <%= form.text_field :title %>
  <br>
  <%= form.label :content, Mission.human_attribute_name(:content) %>
  <%= form.text_field :content %>
  <br>
  <%= form.label :started_at, Mission.human_attribute_name(:started_at) %>
  <%= form.datetime_field :started_at %>
  <br>
  <%= form.label :ended_at, Mission.human_attribute_name(:ended_at) %>
  <%= form.datetime_field :ended_at %>
  <br>
  <%= form.label :status, Mission.human_attribute_name(:status) %>
  <%= form.select :status, options_for_select([[Mission.human_enum_name(:statuses, :pending), :pending],
                                               [Mission.human_enum_name(:statuses, :processing), :processing],
                                               [Mission.human_enum_name(:statuses, :completed), :completed]]) %>
  <br>
  <%= form.label :priority, Mission.human_attribute_name(:priority) %>
  <%= form.select :priority, options_for_select([[Mission.human_enum_name(:priorities, :low), :low],
                                                 [Mission.human_enum_name(:priorities, :mid), :mid],
                                                 [Mission.human_enum_name(:priorities, :high), :high]]) %>
  <br>
  <%= form.submit t('.submit') %>
<% end %>
